@model IEnumerable<QuanLyNhaThuoc.Models.HoaDon>
@using QuanLyNhaThuoc.Models;
@using System.Data.Entity;
@using System;
@using System.Collections.Generic;
@using System.Data;
@using System.Data.Entity;
@using System.Linq;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSideBarAdmin.cshtml";
}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-dm-1 row-cols-2 row-cols-dm-3 row-cols-sm-4 row-cols-dm-5 g-5">
            @foreach (var item in Model)
            {
                <div class="card-item">
                    <div class="card shadow-sm">
                        <h5>Id Bill: @Html.DisplayFor(modelItem => item.MaHoaDon)</h5>
                        <h5>Name: @Html.DisplayFor(modelItem => item.NguoiDung.Name)</h5>
                        <h6>DateTime: @Html.DisplayFor(modelItem => item.NgayXuat)</h6>
                        @{
                            ApplicationDbContext db = new ApplicationDbContext();
                            var total = db.chiTietHoaDons.Where(m => m.MaHoaDon == item.MaHoaDon).Select(g => g.SoLuong * g.DonGia).Sum();
                        }
                        <h6>Total: @total<span>đ</span></h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="">
                                <button onclick="location.href='@Url.Action("Details", "HoaDons", new {id= item.MaHoaDon} )'" type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<style>
    .card {
        position: static;
        min-height: 200px;
        min-width: 200px;
        padding: 15px 0px 10px 20px;
        display: flex;
    }

    span {
        font-size: 15px;
    }

    .card img {
        width: 80%;
        margin-top: 1px;
        cursor: pointer;
    }

    h5 {
        color: #000000;
        font-size: 15px;
    }


    .card:hover {
        transform: translateY(-10px);
        transition: 1s;
    }

    h6 {
        color: rgba(0,0,255,1);
        font-size: 13px;
        margin-left: 5px;
    }
</style>