@using Microsoft.AspNet.Identity
@using QuanLyNhaThuoc.Models;
@{
    ApplicationDbContext dbContext = new ApplicationDbContext();
    var user = User.Identity.GetUserId();
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
<ul class="navbar-nav navbar-right">
    @if (User.Identity.Name != "admin@newty.com")
    {
        <li>
            <div class="btn btn-danger" onclick="location.href='@Url.Action("Index", "GioHang")'">
                <i class="bx bxs-shopping-bag"></i>
                <span> Cart</span>
            </div>
        </li>
    }
        @{
            var name = dbContext.Users.Where(s => s.Id == @user).Select(s => s.Name).First();
        }
    <li class="dropdown">
        <a class="btn btn-danger dropdown-toggle --bs-primary" href="#" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
            @name
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="@Url.Action("ChangePassword","Manage")">
                    <i class='bx bx-id-card'></i>
                    <span> ChangePassword</span>
                </a>
            </li>
            @if (User.Identity.Name != "admin@newty.com")
            {
                <li>
                    <a class="dropdown-item" href="@Url.Action("Index_KH", "HoaDons")">
                        <i class="bx bx-clipboard"></i>
                        <span> History</span>
                    </a>
                </li>
            }
        <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                    <i class='bx bx-log-out'></i>
                    <span> Log off</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        @if (@Request.Url.AbsolutePath==@"/")
        {
            <li>
                <div class="btn btn-danger" onclick="location.href='@Url.Action("Index", "GioHang")'">
                    <i class="bx bxs-shopping-bag"></i>
                    <span> Cart</span>
                </div>
            </li>
        }
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-danger" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-danger" })</li>
    </ul>
}

<style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
</style>
