@model QuanLyNhaThuoc.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

    <div class="row">
        <div class="d-flex justify-content-between align-items-center" id="functional-section">
            <div class="">
                <div class="btn btn-outline-primary" onclick="location.href='@Url.Action("Index", "Home" )'">
                    <i class="bx bx-arrow-back"></i>
                    <span> Back</span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div>
                <img src="@Html.DisplayFor(model => model.MoTa)" />
            </div>
        </div>
        <div class="col-8">
            <h2>@Html.DisplayFor(model => model.TenSanPham)</h2>
            <hr />
            <h3>@Html.DisplayFor(model => model.GiaBan)đ/@Html.DisplayFor(model => model.DonViTinh)</h3>
            <h5>Loại sản phẩm: @Html.DisplayFor(model => model.LoaiSanPham.TenLoai) </h5>
            <h5>Thành phần chính: @Html.DisplayFor(model => model.ThanhPhanChinh) </h5>
            <h5>Độ tuổi: @Html.DisplayFor(model => model.DoTuoi) </h5>
            <h5>Công dụng: @Html.DisplayFor(model => model.CongDung) </h5>
            <h5>Số lượng: @Html.DisplayFor(model => model.SoLuong) </h5>
            <h5>Nhà sản xuất: @Html.DisplayFor(model => model.NhaSanXuat.TenNhaSanXuat) </h5>
        </div>
        <div class="d-flex justify-content-between align-items-center" id="functional-section">
            <div class="">
                <input class="pb-1" type="number" id="quantity" name="quantity" value="1" min="1" max="@Html.ValueFor(model=>model.SoLuong)">
                <div class="btn btn-outline-success" onclick="">
                    <i class="bx bx-cart-add"></i>
                    <span></span>
                </div>
            </div>
        </div>

    </div>
<style>
    .row {
        width: 65%;
        margin-top: 10px;
        margin-left: 10%;
        padding: 30px 20px;
        background: #ffffff;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .col-4 img {
        width: 95%;
    }

    .col-8 h2 {
        color: #4800ff;
    }

    .col-8 h3 {
        margin-left: 20px;
        color: #ff6a00;
    }

    .col-8 h5 {
        display: block;
    }
</style>