@model QuanLyNhaThuoc.ViewModel.ViewIndexModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<main>
    <br />
    <div id="SP-Hot" class="fs-3 ms-5">
        <i class="bx bxs-hot text-danger"></i>
        <span class="text-danger"> Truy cập nhiều</span>
        <i class="bx bxs-hot text-danger"></i>
    </div>
    <div class="album py-5 bg-opacity-50">
        <div class="container">
            <div class="row row-cols-dm-1 row-cols-2 row-cols-dm-3 row-cols-dm-4 row-cols-sm-5 g-5">
                @{
                    int dem = 1;
                }
                @foreach (var item in Model.Object1)
                {
                    <div class="card-item">
                        <div class="card shadow-sm">
                            <img onclick="location.href='@Url.Action("Details", "Home", new {id=item.MaSanPham} )'" src="@Html.DisplayFor(modelItem => item.MoTa)" alt="" srcset="" />
                            <div class="">
                                <h5>@Html.ActionLink("" + @Html.DisplayFor(modelItem => item.TenSanPham), "Details", new { id = item.MaSanPham })</h5>
                                <h6>@Html.DisplayFor(modelItem => item.GiaBan)đ/@Html.DisplayFor(modelItem => item.DonViTinh) </h6>
                                <h6>Số lượng còn: @Html.DisplayFor(modelItem => item.SoLuong)</h6>
                                <div class="d-flex justify-content-between align-items-center" id="">
                                    <div class="">
                                        @{
                                            var input_id = "quatity" + dem.ToString();
                                            dem++;
                                        }
                                        <input class="pb-1 quantity" type="number" id="" value="1" min="1" max="@Html.ValueFor(modelItem=>item.SoLuong)">
                                        <button type="button" class="btn btn-outline-success" onclick="addToCard(@item.MaSanPham)">
                                            <i class="bx bx-cart-add"></i>
                                            <span></span>

                                        </button>
                                        <div class="btn btn-outline-danger" onclick="">
                                            <i class="bx bx-cart-download"></i>
                                            <span> Buy</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <div id="SP-Trending" class="flex-grow-1 fs-3 ms-5">
        <i class='bx bxs-chart text-primary'></i>
        <span class="text-primary">  Bán chạy</span>
        <i class='bx bxs-chart text-primary'></i>
    </div>
    <div class="album py-5 bg-opacity-50">
        <div class="container">
            <div class="row row-cols-dm-1 row-cols-2 row-cols-dm-3 row-cols-dm-4 row-cols-sm-5 g-5">
                @foreach (var item in Model.Object2)
                {
                    <div class="card-item">
                        <div class="card shadow-sm">
                            <img onclick="location.href='@Url.Action("Details", "Home", new {id=item.MaSanPham} )'" src="@Html.DisplayFor(modelItem => item.MoTa)" alt="" srcset="" />
                            <div class="">
                                <h5>@Html.ActionLink("" + @Html.DisplayFor(modelItem => item.TenSanPham), "Details", new { id = item.MaSanPham })</h5>
                                <h6>@Html.DisplayFor(modelItem => item.GiaBan)đ/@Html.DisplayFor(modelItem => item.DonViTinh) </h6>
                                <h6>Số lượng còn: @Html.DisplayFor(modelItem => item.SoLuong)</h6>
                                <div class="d-flex justify-content-between align-items-center" id="functional-section">
                                    <div class="">
                                        <input class="pb-1" type="number" id="quantity" name="quantity" value="1" min="1" max="@Html.ValueFor(modelItem=>item.SoLuong)">
                                        <div class="btn btn-outline-success" onclick="">
                                            <i class="bx bx-cart-add"></i>
                                            <span></span>
                                        </div>
                                        <div class="btn btn-outline-danger" onclick="location.href='@Url.Action("GioHang", "Home")'">
                                            <i class="bx bx-cart-download"></i>
                                            <span> Buy</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="SP-Basket" class="flex-grow-1 fs-3 ms-5">
        <i class="bx bxs-basket text-primary"></i>
        <span class="text-primary"> Sản phẩm</span>
        <i class="bx bxs-basket text-primary"></i>
    </div>
    <div class="album py-5 bg-transparent">
        <div class="container">
            <div class="row row-cols-1 row-cols-2 row-cols-dm-3 row-cols-dm-4 row-cols-sm-5 g-5">
                @foreach (var item in Model.Object3)
                {
                    <div class="card-item">
                        <div class="card shadow-sm">
                            <img onclick="location.href='@Url.Action("Details", "Home", new {id=item.MaSanPham} )'" src="@Html.DisplayFor(modelItem => item.MoTa)" alt="" srcset="" />
                            <div class="">
                                <h5>@Html.ActionLink("" + @Html.DisplayFor(modelItem => item.TenSanPham), "Details", new { id = item.MaSanPham })</h5>
                                <h6>@Html.DisplayFor(modelItem => item.GiaBan)đ/@Html.DisplayFor(modelItem => item.DonViTinh) </h6>
                                <h6>Số lượng còn: @Html.DisplayFor(modelItem => item.SoLuong)</h6>
                                <div class="d-flex justify-content-between align-items-center" id="functional-section">
                                    <div class="">
                                        <input class="pb-1" type="number" id="quantity" name="quantity" value="1" min="1" max="@Html.ValueFor(modelItem=>item.SoLuong)">
                                        <div class="btn btn-outline-success" onclick="">
                                            <i class="bx bx-cart-add"></i>
                                            <span></span>
                                        </div>
                                        <div class="btn btn-outline-danger" onclick="">
                                            <i class="bx bx-cart-download"></i>
                                            <span> Buy</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</main>
<style>
    .card-item {
        margin: 10px 20px;
    }

    .card {
        min-height: 300px;
        min-width: 250px;
        position: static;
        border: 3px double #808080;
        border-radius: 20px 30px 25px 30px / 20px 30px 25px 30px;
        padding: 10px 10px 10px 15px;
        display: flex;
    }

        .card:hover {
            transform: translateY(-10px);
            transition: 1s;
        }

        .card img {
            width: 80%;
            margin-top: 1px;
            cursor: pointer;
        }

    h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        h5 a {
            color: #000000;
            font-size: 15px;
            font: bold;
            text-decoration: none;
            display: block;
        }

    h6 {
        color: rgba(0,0,255,1);
        font-size: 15px;
        margin-left: 5px;
    }
</style>
@section scripts{
    <script>
        function addToCard(id) {
            var url = '@Url.Action("MuaHang", "Home")';
            var txtVal = $('.quantity').val();
            console.log(url + txtVal + '......');
            window.location.href = url + '?id=' + id + '&sl=' + txtVal;
   }
    </script>
}