@model IEnumerable<QuanLyNhaThuoc.Models.SanPham>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<main>
    
    <div class="small-container">
        @foreach (var item in Model)
        {
                <div class="col-4">
                    <img src="@Html.DisplayFor(modelItem => item.MoTa)" alt="" srcset="" />
                    <h5>@Html.ActionLink("" + @Html.DisplayFor(modelItem => item.TenSanPham) , "Details", new { id = item.MaSanPham})</h5>
                    <h6>@Html.DisplayFor(modelItem => item.GiaBan)đ/@Html.DisplayFor(modelItem => item.DonViTinh) </h6>
                    <h6>Số lượng còn: @Html.DisplayFor(modelItem => item.SoLuong)</h6>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
        }
    </div>
    <style>
        
        .small-container {
            margin: 70px 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }
        .col-4 {
            flex-basis: 23%;
            margin: 5px 5px;
            padding: 10px 20px;
            min-width: 200px;
            margin-top:10px;
            margin-bottom: 30px;
            transition: transform 0.6s;
            width: 200px;
            min-height: 350px;
            background: white;
            border: 5px double #1559b2;
            display: flex;
            flex-direction: column;
            border-radius: 20% 30% 10% 30% / 20% 30% 10% 30%;
            justify-content:center;
            align-items:center;
        }

            .col-4 img {
                width: 65%;
                margin-top: 5px;
                border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
            }

            .col-4:hover {
                transform: translateY(-20px);
            }
        h5 a{
            color: #000000;
            font-size: 15px;
            text-decoration:none;
        }
        h6{
            color: rgba(0,0,255,1);
            font-size:15px;
        }
        .rating .fa {
            color: #ff523b;
        }
    </style>
</main>