@model QuanLyNhaThuoc.ViewModel.ViewIndexModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<main>
    <br/>
    <div class="album py-3 bg-opacity-50">
        <div id="SP-Hot" class="fs-3 ms-5">
            <i class="bx bxs-hot text-danger"></i>
            <span class="text-danger"> Truy cập nhiều</span>
            <i class="bx bxs-hot text-danger"></i>
        </div>
        <div class="container">
            <div class="row row-cols-dm-1 row-cols-2 row-cols-dm-3 row-cols-sm-4 row-cols-dm-5 g-5">
                @foreach (var item in Model.Object1)
                {
                    <div class="#">
                        <div class="card shadow-sm">
                            <img onclick="location.href='@Url.Action("Details", "Home", new { id = item.MaSanPham })'" src="@Html.DisplayFor(modelItem => item.MoTa)" alt="" srcset=""/>
                            <div class="product-item">
                                <h5>@Html.ActionLink("" + @Html.DisplayFor(modelItem => item.TenSanPham), "Details", new { id = item.MaSanPham })</h5>
                                <h6>@Html.DisplayFor(modelItem => item.GiaBan)đ/@Html.DisplayFor(modelItem => item.DonViTinh) </h6>
                                <h6 class="amount-label">
                                    <span>Số lượng còn: </span>
                                    <span class="amount-value">@Html.DisplayFor(modelItem => item.SoLuong)</span>
                                </h6>
                                <div class="d-flex justify-content-between align-items-center functional-section">
                                    <div class="product-item-function">
                                        <input class="product-id" type="hidden" name="productId" value="@Html.ValueFor(modelItem => item.MaSanPham)"/>
                                        <input class="pb-1 amount" type="number" id="quantity" name="quantity" value="1" min="1" max="@Html.ValueFor(modelItem => item.SoLuong)">
                                        <button type="button" class="add-to-cart-btn btn btn-outline-success">
                                            <i class="bx bx-cart-add"></i>
                                            <span>Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <br/>
    <div class="album py-3 bg-opacity-50">
        <div id="SP-Hot" class="fs-3 ms-5">
            <i class="bx bxs-hot text-danger"></i>
            <span class="text-danger"> Truy cập nhiều</span>
            <i class="bx bxs-hot text-danger"></i>
        </div>
        <div class="container">
            <div class="row row-cols-dm-1 row-cols-2 row-cols-dm-3 row-cols-sm-4 row-cols-dm-5 g-5">
                @foreach (var item in Model.Object2)
                {
                    <div class="#">
                        <div class="card shadow-sm">
                            <img onclick="location.href='@Url.Action("Details", "Home", new { id = item.MaSanPham })'" src="@Html.DisplayFor(modelItem => item.MoTa)" alt="" srcset=""/>
                            <div class="product-item">
                                <h5>@Html.ActionLink("" + @Html.DisplayFor(modelItem => item.TenSanPham), "Details", new { id = item.MaSanPham })</h5>
                                <h6>@Html.DisplayFor(modelItem => item.GiaBan)đ/@Html.DisplayFor(modelItem => item.DonViTinh) </h6>
                                <h6 class="amount-label">
                                    <span>Số lượng còn: </span>
                                    <span class="amount-value">@Html.DisplayFor(modelItem => item.SoLuong)</span>
                                </h6>
                                <div class="d-flex justify-content-between align-items-center functional-section">
                                    <div class="product-item-function">
                                        <input class="product-id" type="hidden" name="productId" value="@Html.ValueFor(modelItem => item.MaSanPham)"/>
                                        <input class="pb-1 amount" type="number" id="quantity" name="quantity" value="1" min="1" max="@Html.ValueFor(modelItem => item.SoLuong)">
                                        <button type="button" class="add-to-cart-btn btn btn-outline-success">
                                            <i class="bx bx-cart-add"></i>
                                            <span>Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <br/>
    <div class="album py-3 bg-opacity-50">
        <div id="SP-Hot" class="fs-3 ms-5">
            <i class="bx bxs-hot text-danger"></i>
            <span class="text-danger"> Truy cập nhiều</span>
            <i class="bx bxs-hot text-danger"></i>
        </div>
        <div class="container">
            <div class="row row-cols-dm-1 row-cols-2 row-cols-dm-3 row-cols-sm-4 row-cols-dm-5 g-5">
                @foreach (var item in Model.Object3)
                {
                    <div class="#">
                        <div class="card shadow-sm">
                            <img onclick="location.href='@Url.Action("Details", "Home", new { id = item.MaSanPham })'" src="@Html.DisplayFor(modelItem => item.MoTa)" alt="" srcset=""/>
                            <div class="product-item">
                                <h5>@Html.ActionLink("" + @Html.DisplayFor(modelItem => item.TenSanPham), "Details", new { id = item.MaSanPham })</h5>
                                <h6>@Html.DisplayFor(modelItem => item.GiaBan)đ/@Html.DisplayFor(modelItem => item.DonViTinh) </h6>
                                <h6 class="amount-label">
                                    <span>Số lượng còn: </span>
                                    <span class="amount-value">@Html.DisplayFor(modelItem => item.SoLuong)</span>
                                </h6>
                                <div class="d-flex justify-content-between align-items-center functional-section">
                                    <div class="product-item-function">
                                        <input class="product-id" type="hidden" name="productId" value="@Html.ValueFor(modelItem => item.MaSanPham)"/>
                                        <input class="pb-1 amount" type="number" id="quantity" name="quantity" value="1" min="1" max="@Html.ValueFor(modelItem => item.SoLuong)">
                                        <button type="button" class="add-to-cart-btn btn btn-outline-success">
                                            <i class="bx bx-cart-add"></i>
                                            <span>Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>
<style>
    .album {
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .card-item {
        margin: 10px 20px;
    }

    .card {
        min-height: 300px;
        min-width: 250px;
        position: static;
        padding: 10px 10px 10px 15px;
        display: flex;
    }

        .card:hover {
            transform: translateY(-10px);
            transition: 1s;
        }

        .card img {
            width: 80%;
            margin-top: 1px;
            cursor: pointer;
        }

    h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        h5 a {
            color: #000000;
            font-size: 15px;
            font: bold;
            text-decoration: none;
            display: block;
        }

    h6 {
        color: rgba(0,0,255,1);
        font-size: 15px;
        margin-left: 5px;
    }
</style>

@section scripts{
    <script>
        $(document).ready(function () {
            let productItem = $(".product-item-function");
            let addToCartButton = productItem.children(".add-to-cart-btn");
            addToCartButton.click(function (e) {
                let amountInput = $(e.target).siblings(".amount").first();
                let productIdInput = $(e.target).siblings(".product-id").first();

                let amount = amountInput.val();
                let id = productIdInput.val();

                if (amount === undefined || id === undefined)
                    return;

                // let url = "api/GioHangApi/AddToCart?productId=" + id + "&amount=" + amount;
                let url = "api/GioHangApi/AddToCart";
                $.post(url, {
                    productId: id, 
                    amount: amount
                })
                .done(function () {
                    amountInput.val(1);
                    alert("DONE");
                })
                .fail(function () {
                    alert("FAILED");
                });
            });
        });
    </script>
}