@model QuanLyNhaThuoc.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container2  right-panel-active" id="container2">
    <div class="form-container register-container">
        <div class="form1">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <h1>Register</h1>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })
                <button type="submit">Register</button>
            }
        </div>
    </div>
    <div class="form-container login-container">
        <div class="form1">
            <h1>Login</h1>
            <br />
            <span class="loader"></span>
        </div>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1 class="title">
                    Hello <br />
                    friends
                </h1>
                <p>If your have an account, login here and have fun</p>
                <button class="ghost" id="login">
                    Login <i class="lni lni-arrow-left login"></i>
                </button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1 class="title">
                    Start your <br />
                    journy now
                </h1>
                <p>
                    If you don't have an account yet, join us and start your journey.
                </p>
                <button class="ghost" id="register">
                    Register <i class="lni lni-arrow-right register"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/script-login.js"></script>
<link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/Admin-css/style-login.css" />

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#login').click(function () {
                setTimeout(function () { window.location.href = '@Url.Action("Login", "Account", routeValues: null)'; }, 1000);
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
