@model QuanLyNhaThuoc.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutSideBarAdmin.cshtml";
}

<div>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <div class="">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <div>
            <div class="row">
                <h3>Are you sure you want to delete this?</h3>
                <hr />
                <div class="col-4">
                    <div>
                        <img src="@Html.DisplayFor(model => model.MoTa)" />
                    </div>
                </div>
                <div class="col-8">
                    <h2>@Html.DisplayFor(model => model.TenSanPham)</h2>
                    <hr />
                    <h3>@Html.DisplayFor(model => model.GiaBan)đ/@Html.DisplayFor(model => model.DonViTinh)</h3>
                    <h5>Loại sản phẩm: @Html.DisplayFor(model => model.LoaiSanPham.TenLoai) </h5>
                    <h5>Thành phần chính: @Html.DisplayFor(model => model.ThanhPhanChinh) </h5>
                    <h5>Độ tuổi: @Html.DisplayFor(model => model.DoTuoi) </h5>
                    <h5>Công dụng: @Html.DisplayFor(model => model.CongDung) </h5>
                    <h5>Số lượng: @Html.DisplayFor(model => model.SoLuong) </h5>
                    <h5>Nhà sản xuất: @Html.DisplayFor(model => model.NhaSanXuat.TenNhaSanXuat) </h5>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                    <div class="d-flex align-items-center">
                        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

                        <div>
                            <button type="submit" value="Delete" class="btn btn-outline-danger me-3  ">
                                <i class="bx bxs-delete"></i>
                                <span> Delete</span>
                            </button>
                        </div>
                        <div class="btn btn-outline-dark" onclick="location.href='@Url.Action("Index", "SanPhams" )'">
                            <i class="bx bxs-s-square"></i>
                            <span> Cancel</span>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <style>
            .row {
                width: 65%;
                margin-top: 10px;
                margin-left: 10%;
                padding: 30px 20px;
                background: #ffffff;
                border-radius: 15px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            .col-4 img {
                width: 95%;
            }

            .col-8 h2 {
                color: #4800ff;
            }

            .col-8 h3 {
                margin-left: 20px;
                color: #ff6a00;
            }

            .col-8 h5 {
                display: block;
            }
        </style>


    </div>
</div>
