@model IEnumerable<QuanLyNhaThuoc.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSideBarAdmin.cshtml";
}
<main>
    <div class="album py-5 bg-opacity-50">
        <div class="container">
            <div class="row row-cols-dm-1 row-cols-2 row-cols-dm-3 row-cols-sm-4 row-cols-dm-5 g-5">
                @foreach (var item in Model)
                {
                    <div class="#">
                        <div class="card shadow-sm">
                            <img src="@Html.DisplayFor(modelItem => item.MoTa)" alt="" srcset="" />
                            <div class="">
                                <h5>@Html.ActionLink("" + @Html.DisplayFor(modelItem => item.TenSanPham), "Details", new { id = item.MaSanPham })</h5>
                                <h6>@Html.DisplayFor(modelItem => item.GiaBan)đ/@Html.DisplayFor(modelItem => item.DonViTinh) </h6>
                                <h6>Số lượng còn: @Html.DisplayFor(modelItem => item.SoLuong)</h6>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="">
                                        <button onclick="location.href='@Url.Action("Delete", "SanPhams", new {id= item.MaSanPham} )'" type="button" class="btn bx bxs-trash btn-outline-danger"> Delete</button>
                                        <button onclick="location.href='@Url.Action("Edit", "SanPhams", new {id= item.MaSanPham} )'" type="button" class="btn btn-outline-warning bx bxs-edit"> Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            </div>
        </div>
        <style>
            .card {
                min-height: 300px;
                min-width: 280px;
                position: static;
                padding: 10px 0px 10px 20px;
                display: flex;
            }
                .card:hover {
                    transform: translateY(-10px);
                    transition: 1s;
                }
                .card img {
                    width: 80%;
                    margin-top: 5px;
                    cursor: pointer;
                }

            h5 {
                height: 50px;
            }
            h5 a {
                color: #000000;
                font-size: 15px;
                text-decoration: none;
            }

            h6 {
                color: rgba(0,0,255,1);
                font-size: 15px;
            }

        </style>
</main>